@import "../../common/vars.scss";

#nameCard{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    span{
        white-space: nowrap;
        font-size: 1rem;
        background-color: white;
        padding: 0.5rem;
        width: fit-content;

        @include media-md{
            font-size: 1.5rem;
            padding: 0.75rem;
        }

        @include media-lg{
            font-size: 2rem;
            padding: 1rem;
        }
    }

    .subheader{
        font-size: 0.5rem;

        @include media-xs{
            font-size: 0.6rem;
            white-space: nowrap;
        }

        @include media-md{
            white-space: nowrap;
            font-size: 0.75rem;
        }

        @include media-lg{
            white-space: nowrap;
            font-size: 1rem;
        }
    }

    h1{
        font-size: 1.75rem;
        background-color: white;
        padding: 0.5rem;
        margin: 0.5rem;
        width: fit-content;
        white-space: nowrap;

        @include media-xs{
            font-size: 2.5rem;
        }

        @include media-md{
            font-size: 4rem;
            padding: 1rem;
            margin: 1rem;
        }

        @include media-lg{
            font-size: 5rem;
            padding: 1rem;
            margin: 1rem;
        }
    }
}