@import "./vars.scss";

body {
    font-family: monospace;
}

#contentArea {
    position: fixed;

    display: flex;
    flex-direction: column;

    font-size: .75rem;
    width: 100%;
    height: 100%;

    // clip-path: polygon(0 1%, 0 0, 10% 0, 10% 2%, 20% 2%, 20% 0, 30% 0, 30% 4%, 40% 4%, 40% 0, 50% 0, 50% 1%, 60% 1%, 60% 0, 70% 0, 70% 3%, 80% 3%, 80% 0, 90% 0, 90% 1%, 100% 1%, 100% 100%, 0 100%);

    @include media-lg {
        font-size: 1rem;
    }
}

#bgCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#aboutContent{
    height: 100%;
    margin: 6rem 3rem 2rem 3rem;
    padding: 0 2rem 0 2rem;
    background-color: white;

    position: relative;
    overflow: hidden;

    filter: drop-shadow(3px 3px 6px rgb(100 100 100));

    @include media-lg {
        margin: 10rem 25rem 6rem 25rem;
        padding: 0 2rem 0 2rem;
        font-size: 1.25rem;
    }


    .scroll-wrapper{
        height: 100%;
        display: block;

        overflow-x: hidden;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .scroll-wrapper::-webkit-scrollbar {
        display: none;
    }

    p{
        padding-top: 1rem;
        text-indent: 1rem;

        @include media-lg {
            text-indent: 2rem;
        }
    }

    p:last-child{
        padding-bottom: 1rem;
    }

    p::first-letter{
        font-weight: bold;
        font-size: 1.25rem;

        @include media-lg {
            font-size: 1.5rem;
        }
    }
}

#aboutContent::after{
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 100vh;
    background: linear-gradient(#19D1FF, #FFDD00 33%, #FF01D3 66%, #FF2075 99%);;
    left: 0;
    top: 0;

    @include media-lg {
        width: 1rem;
    }
}